{% extends 'base.html' %}
{% load static %}

{% block costomcss %}
<link rel="stylesheet" type='text/css' href="{% static 'css/update.css' %}">
{% endblock costomcss %}

{% block header %}
<div class="alert alert-success" role="alert">
  投稿編集
</div>
{% endblock header %}

{% block content %}
<form action='' method='POST'>{% csrf_token %}
  <div class="input-box">
    <p>Todo{{ form.title }}</p>
    <p>内容{{ form.content }}</p>
    <p>重要度{{ form.priority }}</p>
    <p>期日{{ form.duedate }}</p>
    <input type='submit' class='btn btn-success btn' value='更新する'>
    <a href="{%url 'list' %}" class="btn btn-primary btn" tabindex="-1" role="button" aria-disabled="true">
      一覧に戻る</a>
  </div>
</form>

{% endblock content %}